body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 600;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}


.product-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border:1px solid #ddd;
    text-align:centre;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.18);
}


.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
}


.product-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}


.product-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}


.price {
    font-size: 20px;
    font-weight: 600;
    color: #0a8a0a;
    margin-bottom: 15px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0056c7;
}