body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    /* width: 90%; */
    margin: 80px;
    padding: 5px;
    border: 2px solid black;
    justify-content: space-around;
    }

.card {
    width: 280px;
    background: #fff;
    border: 2px solid #ae961e;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.circle {
    width: 80px;
    height: 80px;
    background: #35a952;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    margin: 20px 0 ;
    font-size: 22px;
}

p {
    color: #333;
    font-size: 15px;
    line-height: 1.4;
}